* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.instrucciones { 
    display: flex;
    justify-content: center;
    gap: 4em;

}

.cajacuadros {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}

.cajacuadros div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    cursor: pointer;
}